apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1-deployment
  labels:
    app: python-app1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app1
  template:
    metadata:
      labels:
        app: python-app1
    spec:
      containers:
      - name: python-app1-pod
        image: myjsonapp:v1
        imagePullPolicy: "Never"
        ports:
        - containerPort: 5000
