apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2-deployment
  labels:
    app: python-app2
spec:
  replicas: 2
  minReadySeconds: 10
  selector:
    matchLabels:
      app: python-app2
  template:
    metadata:
      labels:
        app: python-app2
    spec:
      containers:
      - name: python-app2-pod
        image: myjsonapp2:v1
        imagePullPolicy: "Never"
        ports:
        - containerPort: 5000
        env:
          - name: SERVICE_APP1
            value: ""